.create-page {
    min-height: 100vh;
    background: #f7f3e6;
    padding: 120px 80px;
    margin-top: -30px;
}

.create-page h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 60px;
    color: #2b2b2b;
}

.create-layout {
    display: flex;
    gap: 120px;
    align-items: flex-start;
    justify-content: center;
}

/* STACK */
.stack-wrapper {
    position: relative;
}

.counter {
    font-weight: 600;
    margin-bottom: 12px;
    color: #2b2b2b;
}

.stack {
    position: relative;
    width: 220px;
    height: 300px;
}

.polaroid-stack {
    position: absolute;
    inset: 0;
    background: white;
    padding: 12px 12px 35px;
    box-shadow: 0 18px 35px rgba(0,0,0,0.25);
    transition: transform 0.6s ease;
}


.polaroid-stack img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    filter: sepia(0.35) contrast(1.25);
}

.polaroid-stack p {
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 18px;
    margin-top: 6px;
}

.placeholder {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.4;
    font-size: 14px;
}

/* CONTROLS */
.controls {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 260px;
}

.upload-box {
    padding: 14px;
    border: 2px dashed #bbb;
    text-align: center;
    cursor: pointer;
    background: white;
}

.controls input[type="text"] {
    padding: 10px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    background: transparent;
}

.controls button {
    margin-top: 10px;
    padding: 14px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    background: #333;
    color: white;
}

.create-btn {
    background: #e36b4b;
    box-shadow: 0 12px 25px rgba(227,107,75,0.35);
}

/* MOBILE VIEW */
@media (max-width: 768px) {
    .create-page {
        padding: 80px 20px;
    }

    .create-layout {
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }

    .stack-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .stack {
        width: 200px;
        height: 280px;
    }

    .controls {
        width: 100%;
        max-width: 320px;
        align-items: stretch;
        margin-top: 40px;
        margin-bottom: 0px;
    }

    .upload-box {
        width: 90%;
    }

    .controls input[type="text"] {
        text-align: center;
    }

    .controls button {
        width: 100%;
    }
}
