.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 24px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
}
.header nav {
    margin-right: 100px;
    display: flex;
    gap: 28px;
}

.header nav a {
    margin-left: 0;
    text-decoration: none;
    color: #2b2b2b;
    font-size: 17px;
    font-weight: 500;
    position: relative;
}

.header nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 2px;
    background: #e36b4b;
    transition: width 0.3s ease;
}

.header nav a:hover::after {
    width: 100%;
}
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 55px;
}
.burger {
    display: none;
}
@media (max-width: 768px) {

    .header {
        flex-direction: row;
        justify-content: space-between;
        padding: 14px 18px;

    }

    .logo img {
        height: 42px;
    }

    /* Burger button */
    .burger {
        display: block;
        margin-right: 60px;
        font-size: 28px;
        background: none;
        border: none;
        cursor: pointer;
        color: #2b2b2b;
        z-index: 30;
    }

    /* Hide nav by default */
    .header nav {
        position: absolute;
        top: 100%;
        right: 18px;
        background: #fff;
        padding: 12px 18px;
        border-radius: 14px;
        box-shadow: 0 12px 30px rgba(0,0,0,0.15);
        display: none;
        flex-direction: column;
        gap: 14px;
    }

    .header nav.open {
        display: flex;
    }

    .header nav a {
        font-size: 15px;
    }
}

